<body>
	<div class="container">
		<div class="row" style="margin-top: 30px; margin-bottom:15px;">
			<div class="six columns centered">
				<div style="text-align: center">
					<img src="images/comtor/comtorLogo.png" alt="COMTOR logo"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="eight columns centered">
				<p>Thank you for your submission to the COMTOR system. We will email you the 
				results shortly. Please be sure to add comtor@tcnj.edu to your address book 
				to ensure email delivery of the results.</p>
				<p>Returning to the main page in  5 seconds...</p>
			</div>
		</div>
	</div>
</body>