<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlets</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>org.comtor.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileAndJar</display-name>
    <servlet-name>FileAndJar</servlet-name>
    <servlet-class>org.comtor.FileAndJar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileAndJar</servlet-name>
    <url-pattern>/FileAndJar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JarOpener</display-name>
    <servlet-name>JarOpener</servlet-name>
    <servlet-class>org.comtor.JarOpener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JarOpener</servlet-name>
    <url-pattern>/JarOpener</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>extractServlet</display-name>
    <servlet-name>extractServlet</servlet-name>
    <servlet-class>org.comtor.extractServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>extractServlet</servlet-name>
    <url-pattern>/extractServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JarExtractor</display-name>
    <servlet-name>JarExtractor</servlet-name>
    <servlet-class>org.comtor.JarExtractor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JarExtractor</servlet-name>
    <url-pattern>/JarExtractor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailServlet</display-name>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>org.comtor.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/EmailServlet</url-pattern>
  </servlet-mapping>
</web-app>