<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>COMTOR API Auth web app</display-name>

<!-- 	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 -->
	<servlet>
		<description>Servlet to provide authentication for an API client</description>
		<servlet-name>APIAuth</servlet-name>
		<servlet-class>org.comtor.authserv.APIAuth</servlet-class>
	</servlet>

	<servlet>
		<description>Servlet to provide key request service to a client</description>
		<servlet-name>APIKeyRequest</servlet-name>
		<servlet-class>org.comtor.authserv.APIKeyRequest</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>APIAuth</servlet-name>
		<url-pattern>/authserv</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>APIKeyRequest</servlet-name>
		<url-pattern>/keyrequest</url-pattern>
	</servlet-mapping>
</web-app>