* { font-family: Verdana; font-size: 96%; }

body {
	background: #FFF;
}

form {
    padding: 5px 10px 5px 10px;
    border: 1px solid gray;
	background: #F3;
 
    /*** Adding in CSS3 ***/
 
    /*** Rounded Corners ***/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
		
    /*** Shadow behind the box ***/
    -moz-box-shadow:0px 0px 7px #cc6633;
    -webkit-box-shadow:0px 0px 7px #cc6633;

	position: relative;
	top: 10px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 600px;
	margin: auto;
	display: block;
}

input.required {
    width: 230px;
    background: #E6E6E6;
    padding: 6px;
    margin-bottom: 10px;
    border: solid 1px #DEDEDE;
 
    /*** Adding CSS3 ***/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
}

input[name=module] {
	margin-bottom: 10px;
	padding: 6px;
	width: 20px;
}

input:hover {
    -webkit-box-shadow: 0px 0px 4px #000;
    border: solid 1px gray;
}

input.submit {
    width: 200px;
    color: black;
    text-transform: uppercase;
    border: solid 1px #DEDEDE;
    margin-top: 10px;
 	background: #CCCC33;
}

a {
	color: #FF6633;
	text-decoration: none;
}

label {
	width: 220px;
	float: left;
}

label.error {
	margin-top: -10px;
	float: left;
	color: #FF6633;
	display: none;
}
