html, body
{
  font-family: calibri, verdana, arial;
  font-size: 1em;
  margin: 0px auto;
  padding: 0px;
}

/* Account Navigation */
div#accountNav ul
{
  list-style: none;
  margin-right: 10px;
  padding: 0px;
  float: left;
}

div#accountNav li
{
  border: 0px;
  display: inline;
  margin: -3px;
  padding: 0px;
  list-style-type: none;
}

div#accountNav li a
{
  color: #000000;
  padding: 4px 4px 4px 10px;
  text-decoration: none;
}
div#accountNav li a:link, div#accountNav li a:visited{
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.leftRound
{
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.rightRound
{
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

/* Help Slider */

div.help_slider
{
	position:fixed;
	right: 0px;
	z-index:200;
}
div.help_button
{
	z-index:100;
	height: 40px;
	width: 50px;
	background-image:url('../img/icons/tooltip.png');
	cursor:pointer;
}

#scrollbar1 { width: 325px; clear: both; margin: 0px 5px 0px 20px; }
#scrollbar1 .viewport { width: 300px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #333; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 2px; }
#scrollbar1 .track { height: 100%; width:1px; position: relative; padding: 0 0px; }
#scrollbar1 .thumb { height: 20px; width: 2px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 2px; }
#scrollbar1 .disable{ display: none; }

#close{
	cursor: pointer;
}
a#close:link, a#close:visited {
	color: #333;
	text-decoration: none;
	outline: none;
}

a#close:hover {
	color: #666;
	text-decoration: none;
}
a#close img{
	margin: 0px 0px 1px 5px;
}
div.help_popup
{
	width:350px;
	background: #d6d6d6;
	display: none;
	border-radius: 10px 0px 0px 10px; 
	-moz-border-radius: 10px 0px 0px 10px; 
	-webkit-border-radius: 10px 0px 0px 10px; 
}
div.help_close_button
{
	height: 20px;
	line-height: 20px;
	padding:10px 0px 0px 20px;
}

/* Header Bar */
img#logo {
	float:left;
}
div.header_bar
{
	height: 61px;
}

div.header_bar_right
{
	float:right;
}

div.username
{
	line-height:61px;
  float: right;
  text-align: left;
  padding: 0px 15px;
}

div.course_select
{
	padding:20px 15px 20px 0px;
  float: right;
  text-align: right;
}

div.header_bar a
{
  margin-left: 10px;
  text-decoration: none;
}

div.header_bar a:link, div.header_bar a:active, div.header_bar a:visited
{
  color: #ffffff;
}

div.header_bar a:hover
{
  color: #c0c0c0;
}

/* Sidebar */
div.sidebar
{
  clear: both;
  float: left;
  width: 175px;
}

div.sidelinks
{
  padding: 0px 10px 0px 0px;
  width: 200px;
}

/* Buttons */
li.button a:link, li.button a:visited{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	color:#444;	
	text-shadow:1px 1px 0px #ffffff;
	text-decoration:none;
}

li.button a:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
	background-color:#f6f6f6;	
}

li.button a:active{
	position:relative;
	top:1px;
}

/* Sidebar Links */
div.sidebar ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

div.sidebar li
{
  border: 0px;
  display: inline;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

div.sidebar li.heading
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2773ba), color-stop(1, #043766) );
	background:-moz-linear-gradient( center top, #2773ba 5%, #043766 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2773ba', endColorstr='#043766');
	background-color:#2773ba;
	border:1px solid #333333;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 6px 24px;
}

div.sidebar li a
{
  color: #000000;
  display: block;
  padding: 4px 4px 4px 10px;
}
div.sidebar li a:link, div.sidebar li a:visited{
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
}

/* Modules */
div.sidebar li a.moduleLink:link, div.sidebar li a.moduleLink:visited {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	border:1px solid #dcdcdc;
		text-decoration:none;
	color:#444444;
	text-shadow:1px 1px 0px #ffffff;
}
div.sidebar li a.moduleLink:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

/* Main Content */
div.main_column
{
  margin-left: 200px;
  padding: 0px 0px 20px 20px;
   padding-right:20px !important;
}

div.content
{
  float: left;
  width:100%;
}
div.breadcrumbs
{
	margin:0px -20px 10px -20px;
	padding:10px;
	background-color:#f5f5f5;
	border: solid 1px #e6e6e6;
	border-left: none;
	border-right:none;
}

/* Footer */
div.footer
{
  clear: both;
  padding: 20px 0px 0px 0px;
  text-align: center;
}

div.tcnj_logo
{
  background-color: #283e6f;
  border-top: 2px solid #081e4f;
  margin-top: 5px;
  padding: 5px 0px;
}


/* Homepage doclet info */
div.doclets
{
  border: 1px solid #000000;
  clear: both;
  margin-bottom: 5px;
}

div.doclet
{
  padding: 15px 5px;
  text-align: left;
}

div.doclet.odd
{
  background-color: #e8e8ff;
}

div.doclet input.checkbox
{
  float: left;
  margin: 5px;
}

.doclet_name
{
  font-weight: bold;
}

.doclet_description
{
  font-style: italic;
}


/* Reports */
div.report
{
  border:double;
  padding: 10px;
  font-size: .9em;
  text-align:left;
  margin-bottom:15px;
}

div.docletDesc
{
  font-size: 1.3em;
}

div.reportList
{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

div.class
{
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 10px;
}

div.metricsHeader
{
  font-size: 1.2em;
  padding-top: 10px;
  font-weight: bold;
}

div.metricsBody
{
	font-size: 1.05em;
	padding-left: 25px;
}

div.member
{
	font-size: 1.1em;
	padding-left: 15px;
}

div.method
{
  padding-left: 25px;
  padding-top: 5px;
  font-size: 1.05em;
  font-style: italic;
}

div.comment
{
  padding-left: 50px;
  font-size: 1em;
}

/* Headings */
h1
{
  color: #000f40;
  font-size: 1.4em;
  font-weight: normal;
  margin: 0px;
  text-align: left;
}

h2
{
  color: #000f40;
  font-size: 1.3em;
  font-weight: normal;
  margin: 10px 0px 0px 0px;
  text-align: left;
}

h3
{
  color: #000f40;
  font-size: 1.2em;
  font-weight: normal;
  margin: 10px 0px 0px 0px;
  text-align: left;
}

h4
{
  color: #000f40;
  font-size: 1.1em;
  font-weight: normal;
  margin: 10px 0px 0px 0px;
  text-align: left;
}

h6
{
  display: inline;
  font-size: 1em;
  font-weight: bold;
  margin: 10px 0px 5px 20px;
}


/* Center */
.center
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Spacing */
.gapBelowSmall
{
  margin-bottom: 5px;
}

/* Image Links */
a img
{
  border: 0px;
  text-decoration: none;
}

a.noLine
{
  text-decoration: none;
}

/* Message Boxes */
div.success
{
  background-color: #b0ed98;
  background-image: url("../img/icons/success.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  color: #247f00;
  border: 1px solid #77c856;
  padding: 10px 10px 10px 52px;
  margin-bottom: 25px;
  height: 30px;
}

div.error
{
  background-color: #ed9898;
  background-image: url("../img/icons/error.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  color: #7f0000;
  border: 1px solid #921010;
  padding: 10px 10px 10px 52px;
  margin-bottom: 25px;
  height: 30px;
}

.errorText
{
  color: #7f0000;
}


/* Submitted Files Viewing Area */
#submittedFiles
{
  margin-bottom: 10px;
}

#submittedFiles code
{
  overflow: auto;
  height: auto;
  width: 100%;
}

#submittedFiles a
{
  text-decoration: none;
}

#submittedFiles a:link, #submittedFiles a:active, #submittedFiles a:visited
{
  color: #000f40;
}

#submittedFiles a:hover
{
  color: #283e6f;
}

div.compilationError
{
  background-color: #ed9898;
  border: 1px solid #921010;
  color: #7f0000;
  padding: 10px;
  overflow: auto;
  width: 100%;
}

div.compilationError h1
{
  color: #7f0000;
  font-size: 1.5em;
}

/* Previous and Next Links */
a.prev, a.next
{
  color: #000000;
  font-weight: bold;
}
a.pageNum
{
  color: #000000;
}

span.currentPage
{
  color: #880000;
  font-weight: bold;
}


/* Forms */
span.formLabel
{
  font-weight: bold;
}

label.leftFloat
{
  display: block;
  float: left;
  padding: 2px 5px 2px 0px;
  text-align: right;
  width: 175px;
}

label.leftFloatSmall
{
  display: block;
  float: left;
  padding: 2px 5px 2px 0px;
  text-align: right;
  width: 125px;
}

br.clearFloat
{
  clear: both;
}

input, select
{
  margin: 0px 0px 5px 0px;
}

input.checkbox, input.radio
{
  margin-right: 5px;
  margin-left: 20px;
}

input.fewChars
{
  width: 2em;
}

/* Note on a form */
div.note
{
  background-color: #ccffff;
  border: 1px solid #0099cc;
  float: right;
  font-size: .75em;
  font-style: italic;
  margin: 5px;
  padding: 5px;
  text-align: left;
  width: 250px;
}

/* Full Width Note */
div.noteFull
{
  background-color: #ccffff;
  border: 1px solid #0099cc;
  font-size: .75em;
  font-style: italic;
  padding: 5px;
  text-align: left;
  width: 100%;
}

div.docletSubsection
{
  background-color: #d0d0ff;
  border: 1px dashed #000f40;
  margin: 10px;
  padding: 10px;
}

div.docletSubsection h6
{
  color: #000f40;
  display: block;
  font-size: 1em;
  font-weight: normal;
  margin: 0px;
  text-align: left;
}

div.docletSubsection table
{
  border-collapse: collapse;
  border: 1px solid #000f40;
  margin: 0px auto;
}


div.docletSubsection table th
{
  background-color: #3068b0;
  border-collapse: collapse;
  border: 1px solid #000f40;
  padding: 2px 5px;
  text-align: center;
  vertical-align: top;
}

div.docletSubsection table td
{
  background-color: #e0e0ff;
  border-collapse: collapse;
  border: 1px solid #000f40;
  padding: 5px;
  text-align: center;
  vertical-align: top;
}

span.tag
{
  font-style: italic;
}

.underline
{
  text-decoration: underline;
}

p.indentAll
{
  margin: 5px 0px 5px 20px;
}

p.codeExample
{
   border: 1px solid #5581C0;
   font: 1em 'Courier New', Courier, Fixed, monospace;
   margin: -15px 10px 5px 20px;
   background: #eee;
   overflow: auto;
   text-align: left;
}

.reportExample
{
  border: 4px double #5581C0;
  background: #eee;
  padding: 5px;
  font-size:.9em;
  text-align: left;
  margin: -5px 10px 10px 20px;
}

.bold
{
  font-weight: bold;
}

.requestsPending
{
  font-weight: bold;
}

div.rssItem
{
  background-color: #e0dfe3;
  margin: 0px;
  padding: 5px 10px;
}

div.rssItem.odd
{
  background-color: #d0cfd3;
  margin: 0px;
  padding: 5px 10px;
}


div.answers
{
  clear: both;
}

div.left_questions
{
  float: left;
  width: 47%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 6%;
}

div.right_questions
{
  float: left;
  width: 47%;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2.questions
{
  color: #000f40;
  font-size: 1.5em;
  font-weight: normal;
  margin: 10px 0px 0px 0px;
  text-align: left;
}

h3.questions
{
  color: #000f40;
  font-size: 1.2em;
  font-weight: normal;
  margin: 10px 0px 0px 38px;
  text-align: left;
}

li.question
{
  list-style-type: square;
  margin-bottom: 1px;
}


div.commentRed
{
  font-size: 1em;
  background-color: #ed9898;
  padding: 10px 0px 10px 5px;
  margin-left: 45px;
}

div.commentYellow
{
  font-size: 1em;
  background-color: #ffff60;
  padding: 10px 0px 10px 5px;
  margin-left: 45px;
}

div.commentGreen
{
  font-size: 1em;
  background-color: #b0ed98;
  padding: 10px 0px 10px 5px;
  margin-left: 45px;
}

div.commentOrange
{
  font-size: 1em;
  background-color: #ffcc33;
  padding: 10px 0px 10px 5px;
  margin-left: 45px;
}

div.commentBlue
{
  font-size: 1em;
  background-color: #99ccff;
  padding: 10px 0px 10px 5px;
  margin-left: 45px;
}

div.methodRed
{
  font-size: 1.05em;
  font-style: italic;
  background-color: #ed9898;
  padding: 10px 0px 10px 5px;
  margin-left: 20px;
}

div.methodYellow
{
  font-size: 1.05em;
  font-style: italic;
  background-color: #ffff60;
  padding: 10px 0px 10px 5px;
  margin-left: 20px;
}

div.methodGreen
{
  font-size: 1.05em;
  font-style: italic;
  background-color: #b0ed98;
  padding: 10px 0px 10px 5px;
  margin-left: 20px;
}

div.methodOrange
{
  font-size: 1.05em;
  font-style: italic;
  background-color: #ffcc33;
  padding: 10px 0px 10px 5px;
  margin-left: 20px;
}

div.methodBlue
{
  font-size: 1.05em;
  font-style: italic;
  background-color: #99ccff;
  padding: 10px 0px 10px 5px;
  margin-left: 20px;
}
